<app-navbar ></app-navbar>
<div *ngIf="IdTienda==1">
    <iframe class=" d-flex justify-content-center" width="100%" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiZGRmNTJhZmQtMTI1OS00M2Q0LTlhYjgtYjVlODE0YTI5NGJlIiwidCI6IjZkNWEwZmRjLTAwNDktNGZkNS1iNDQ3LTE4NGNkMDZhZDcxMSJ9" frameborder="0" allowFullScreen="true"></iframe>
</div>

<div *ngIf="IdTienda==4">

<iframe class=" d-flex justify-content-center" width="100%" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiMzE3NGFhYWItNTk1Zi00N2Y0LTk2YzctMTJhOTgxZmVhOWZlIiwidCI6IjZkNWEwZmRjLTAwNDktNGZkNS1iNDQ3LTE4NGNkMDZhZDcxMSJ9" frameborder="0" allowFullScreen="true"></iframe>
</div>

<div *ngIf="IdTienda==2">
<iframe class=" d-flex justify-content-center" width="100%" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiY2M0YjlkYmQtOTFlYi00ZGQ0LTg3NDMtYjgzZGI1MTQ0NzY0IiwidCI6IjZkNWEwZmRjLTAwNDktNGZkNS1iNDQ3LTE4NGNkMDZhZDcxMSJ9" frameborder="0" allowFullScreen="true"></iframe>
</div>

<div *ngIf="IdTienda==3">
    <iframe class=" d-flex justify-content-center" width="100%" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiODE3ZjVjZGQtNmQxNC00NWNhLTgzNTMtYmI1ZGFiZjBjNzZhIiwidCI6IjZkNWEwZmRjLTAwNDktNGZkNS1iNDQ3LTE4NGNkMDZhZDcxMSJ9" frameborder="0" allowFullScreen="true"></iframe>
</div>
